In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "실제값":["짜장면", "짜장면", "짜장면", "짬뽕", "짬뽕", "짬뽕"], 
    "true":[0, 0, 0, 1, 1, 1],
    "predict":[0.1, 0.3, 0.9, 0.1, 0.7, 0.9]})
df

   실제값  true  predict
0  짜장면     0      0.1
1  짜장면     0      0.3
2  짜장면     0      0.9
3   짬뽕     1      0.1
4   짬뽕     1      0.7
5   짬뽕     1      0.9

In [4]:
# df["absolute loss"]
df["absolute loss"] = np.abs(df['true']-df['predict'])
df

   실제값  true  predict  absolute loss
0  짜장면     0      0.1            0.1
1  짜장면     0      0.3            0.3
2  짜장면     0      0.9            0.9
3   짬뽕     1      0.1            0.9
4   짬뽕     1      0.7            0.3
5   짬뽕     1      0.9            0.1

<img src="https://i.imgur.com/OY1Y0ww.png">

In [6]:
# df["crossentropyloss"]
df["crossentropyloss"] = -(df['true']*np.log(df['predict']) + ((1-df['true']) * np.log(1-df['predict'])))
df

   실제값  true  predict  absolute loss  crossentropyloss
0  짜장면     0      0.1            0.1          0.105361
1  짜장면     0      0.3            0.3          0.356675
2  짜장면     0      0.9            0.9          2.302585
3   짬뽕     1      0.1            0.9          2.302585
4   짬뽕     1      0.7            0.3          0.356675
5   짬뽕     1      0.9            0.1          0.105361